<!-- Put a table in here with action buttons -->

<div class="row" >
  <div class="col-md-12 component-banner">
    <span>Internet of Things - DNS</span>
  </div>
</div>
 
<div class="row">
<div class="col-md-12 mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="dns_name">
      <mat-header-cell *matHeaderCellDef>DNS Name </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{data.DNS_NAME}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dvc_type_code">
      <mat-header-cell *matHeaderCellDef>Device Type Code</mat-header-cell>
      <mat-cell *matCellDef="let data"> {{data.DVC_TYP_CODE}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mdl_type_code">
      <mat-header-cell *matHeaderCellDef>Model Type Code</mat-header-cell>
      <mat-cell *matCellDef="let data"> {{data.MDL_TYP_CODE}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dvc_use_desc">
      <mat-header-cell *matHeaderCellDef>Device Use Desc</mat-header-cell>
      <mat-cell *matCellDef="let data"> {{data.DVC_USE_DESC}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dvc_loc_desc">
      <mat-header-cell *matHeaderCellDef>Device Loc Desc</mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.DVC_LOC_DESC }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dvc_loc_num">
      <mat-header-cell *matHeaderCellDef>Device Loc Number</mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.DVC_LOC_NUM }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dvc_loc_type_code">
      <mat-header-cell *matHeaderCellDef>Device Loc Type Code</mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.DVC_LOC_TYP_CODE }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actionsColumn">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let data">
     
        <!-- Put menu into its own component -->
        <button mat-icon-button [matMenuTriggerFor]="actionMenu">
            <!-- more_vert icon -->
            <mat-icon>&#xE5D4;</mat-icon>
          </button>
        <mat-menu #actionMenu="matMenu">
          <button mat-menu-item (click)="openDialog()">
              <!-- edit icon -->
              <mat-icon>&#xE3C9;</mat-icon>
              <span>Edit</span>
            </button>
          <mat-divider></mat-divider>
          <button mat-menu-item>
              <!-- delete_forever icon -->
              <mat-icon>&#xE92B;</mat-icon>
             <span> Delete </span>
            </button>
        </mat-menu>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
</div>